---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mt-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut faucibus nunc. Pellentesque vitae lacinia nisl, eget aliquet mi. Maecenas dignissim eleifend tellus vitae accumsan. Duis vulputate aliquam diam et elementum. Ut scelerisque nulla ut dictum viverra. Duis a ex quis diam vehicula laoreet at luctus metus. Etiam sollicitudin ornare tempor. 
        </p>
        <p>
          Aliquam id ipsum sed magna interdum tempor nec in ante. Sed sed dictum nulla. Nullam viverra nibh arcu, quis eleifend nibh iaculis in. Sed tempor orci neque, eu lobortis dolor blandit in. Maecenas fermentum ullamcorper lectus vitae vehicula. Proin laoreet ipsum leo, in sodales purus rutrum sed. Fusce pulvinar dui ligula, eu imperdiet leo tincidunt in. Etiam eu lectus urna. Phasellus non mi tempor, viverra odio ut, finibus nulla. Aliquam tristique erat non nisl iaculis, dapibus ultrices dui dictum. Integer id mi pulvinar ligula lacinia molestie vitae vestibulum augue. Ut id elit justo. Donec nisi ex, facilisis in eros quis, finibus fermentum purus. Curabitur auctor urna vel nulla posuere, ac ullamcorper mauris fermentum. Donec at tincidunt enim. Curabitur ultrices, augue ac aliquet scelerisque, mi augue imperdiet dui, et posuere velit tellus non felis. 
        </p>
      </div>

      <h2 class="mb-4 text-2xl font-medium">Section Title</h2>
      <div class="prose mb-8">
        <p class="mt-0">
          Nunc gravida eros nulla, sed aliquet purus fermentum eu. Phasellus ultrices, sem eu blandit eleifend, risus arcu aliquam tortor, a luctus odio libero quis quam. Mauris laoreet nisl sapien, a vulputate urna pretium ac. In et lobortis ipsum, eget luctus tortor. Donec semper, orci at faucibus placerat, orci ex euismod mi, ut auctor ex turpis ut massa. Phasellus et augue eget leo euismod laoreet a vitae leo. Donec a enim sit amet libero venenatis dapibus. Fusce sodales turpis in ante fringilla vestibulum. Fusce nec urna at ex dapibus porttitor ut id lectus. 
        </p>
        <p>
          Fusce ultrices, sapien quis interdum malesuada, ligula augue ullamcorper est, ut bibendum magna quam eu purus. Phasellus vitae dui turpis. Sed pharetra fermentum diam eu aliquet. Aenean ut velit ut ligula tempor efficitur. Suspendisse ut purus egestas, mollis quam id, laoreet dolor. Sed dapibus volutpat tortor eget malesuada. Fusce mollis justo porta erat blandit, in gravida purus sagittis. Pellentesque venenatis sem a dictum tristique. Quisque et lorem turpis. Pellentesque quis ornare ex, a rhoncus dolor. Vestibulum sodales arcu vitae orci scelerisque, sit amet aliquet risus varius. Quisque dictum neque vitae sem sollicitudin pharetra. Etiam neque urna, maximus sed dolor eu, vestibulum vulputate purus. Pellentesque at nisl at mi sodales ultricies vel et urna. 
        </p>
      </div>

      <h2 class="mb-4 text-2xl font-medium">Section Title</h2>
      <div class="prose mb-8">
        <p class="mt-0">
          In mattis auctor mi, id convallis lorem fermentum sit amet. Mauris nec tempus orci, sit amet commodo ante. Suspendisse dignissim efficitur eros, lobortis eleifend ante accumsan finibus. Duis sed interdum elit. Integer dictum ornare ex pharetra ornare. Etiam sed lacinia sem. Nullam ut tempus lorem, ut tincidunt sapien. Nam dui risus, placerat et dui vitae, tristique convallis lorem. Ut a sodales justo. Duis mollis, risus eu blandit aliquam, purus est vehicula massa, eget dapibus odio velit eleifend elit. In maximus lectus at diam sagittis, sed aliquam ipsum hendrerit. 
        </p>
      </div>
    </div>
  </section>
</Layout>
